<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Welcome at University</title>
    <div th:replace="fragments/header.html :: header-css"/>
</head>
<body>
<div th:replace="fragments/header.html :: header"/>
<div class = "container">
    <p> Show/edit all marks: <a href = "/#"> Marks </a></p>
    <p> Show/edit all students: <a href = "/#"> Students </a></p>
    <p> Show/edit all tutors: <a href = "/#"> Tutors </a></p>
    <p> Show/edit all subjects: <a href = "/#"> Subjects </a></p>
    <p> Show/edit users: <a href = "/#"> Users </a></p>
    <p> Show/edit faculties: <a href = "/admin/allfaculties"> Faculties </a></p>
</div>
</body>
</html>