<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Welcome at University</title>
<div th:replace="fragments/header.html :: header-css"/>
</head>
<body>
<div th:replace="fragments/header.html :: header"/>
<div class = "container bg-secondary text-light text-center p-4">
    <h2>Show/edit</h2>
    <a href = "/admin/allmarks" class="btn btn-primary"> Marks </a>
    <a href = "/admin/allstudents" class="btn btn-primary"> Students </a>
    <a href = "/admin/alltutors" class="btn btn-primary"> Tutors </a>
    <a href = "/admin/allsubjects" class="btn btn-primary"> Subjects </a>
    <a href = "/admin/allusers" class="btn btn-primary"> Users </a>
    <a href = "/admin/allfaculties" class="btn btn-primary"> Faculties </a>
    <a href = "/admin/studenttosubject/" class="btn btn-primary"> Student to subject </a>
    <a href = "/admin/tutortosubject/" class="btn btn-primary"> Tutor to subject </a>
</div>
</body>
</html>