<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
    <div th:replace="fragments/header.html :: header-css"/>
</head>
<body>
<div th:replace="fragments/header.html :: header"/>
<div class="container bg-secondary text-light p-4">
    <table class = "table">
        <thead>
        <tr>
            <th> Name </th>
            <th> Surname </th>
            <th> Username </th>
            <th> Faculty </th>
            <th> City </th>
            <th> edit/delete </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student: ${students}">
            <td th:text="${student.name}"> name </td>
            <td th:text="${student.surname}"> surname </td>
            <td th:text="${student.username}"> username </td>
            <td th:text="${student.faculty}"> faculty </td>
            <td th:text="${student.city}"> city </td>
            <td>
                <form action="/admin/students/delete" id="delete"> </form>
                <button type="submit" form="delete" name = "indexNumber" th:value = "${student.indexNumber}">
                    DELETE
                </button>
                <form action="/admin/students/edit" id="edit"> </form>
                <button type="submit" form="edit" name = "indexNumber" th:value = "${student.indexNumber}">
                    Edit
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <form action="/admin/students/add">
            <input type="submit" value = "Add new student" />
        </form>
    </div>
</div>
</body>
</html>