<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
    <div th:replace="fragments/header.html :: header-css"/>
</head>
<body>
<div th:replace="fragments/header.html :: header"/>
<div class="container">
    <table>
        <thead>
        <tr>
            <th> Name </th>
            <th> Surname </th>
            <th> Username </th>
            <th> Faculty </th>
            <th> Address </th>
            <th> edit/delete </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student: ${students}">
            <td th:text="${student.name}"> name </td>
            <td th:text="${student.surname}"> surname </td>
            <td th:text="${student.username}"> username </td>
            <td th:text="${student.faculty}"> faculty </td>
            <td th:text="${student.address}"> address </td>
            <td> <button> delete </button> <button> edit </button> </td>
        </tr>
        </tbody>
    </table>
    <div>
        <button> Add new </button>
    </div>
</div>
</body>
</html>