<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Subjects</title>
    <div th:replace="fragments/header.html :: header-css"/>
</head>
<body>
<div th:replace="fragments/header.html :: header"/>
<div class="container bg-secondary text-light p-4">
    <table class = "table">
        <thead>
        <tr>
            <th> Subject's name </th>
            <th> Faculty </th>
            <th> edit/delete </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subject: ${subjects}">
            <td th:text="${subject.name}"> name </td>
            <td th:text="${subject.faculty.name}"> description </td>
            <td> <button> delete </button> <button> edit </button> </td>
        </tr>
        </tbody>
    </table>
    <div>
        <button> Add new </button>
    </div>
</div>
</body>
</html>