<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"">
<head>
    <meta charset="UTF-8">
    <title>Add user</title>
    <div th:replace="fragments/header.html :: header-css"/>
</head>
<body>
<div th:replace="fragments/header.html :: header"/>

<div class = "container bg-secondary text-light p-4">
    <form action="/admin/allusers/confirmedit" id = "user-inform" method="POST">
        <div class="row">
            <div class="col">
                <label> Username </label>
            </div>
            <div class="col">
                <input name = "username" type="text" th:value="${user.username}" hidden>
                <input name = "username" type="text" th:value="${user.username}" disabled>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label> Password </label>
            </div>
            <div class="col">
                <input name = "password" type="password">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label> Authority </label>
            </div>
            <div class="col">
                <input name = "role" type="radio" value="ROLE_ADMIN"/> Admin
                <input name = "role" type="radio" value="ROLE_TUTOR"/> Tutor
                <input name = "role" type="radio" value="ROLE_STUDENT"/> Student
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label> Enabled </label>
            </div>
            <div class="col">
                <input name = "enabled" type="checkbox" th:checked="${user.enable} ? 'checked'"> yes
            </div>
        </div>
        <div class="row">
            <input type ="submit" class="btn btn-primary" value="EDIT">
            <a href="/admin/allusers/" class="btn btn-info"> CANCEL </a>
        </div>
    </form>
</div>
</body>
</html>