<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
    <div th:replace="fragments/header.html :: header-css"/>
</head>
<body>
<div th:replace="fragments/header.html :: header"/>
<div class="container bg-secondary text-light p-4">
    <div>
        <h1> Authors: </h1>
		<p> <h2> Adam Stańczyk, nie bedzie tutaj numerow indeksów </h2> </p>
		<p> <h2> Kinga Sochacka </h2> </p>
    </div>

</div>
</body>
</html>