<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello page</title>
    <div th:replace="fragments/header.html :: header-css"/>
</head>
<body>
    <div th:replace="fragments/header.html :: header"/>
    <div class = "container bg-secondary text-light p-4">
        <p> Aktualności dla [[${#httpServletRequest.remoteUser}]]</p>
        <p> Jakies newsy trzeba tu wymyslic... </p>
    </div>
</body>
</html>